<div class="group">
  <h4 class="subheader"><%= group.name %></h4>

  <div class="situation">
    <% debts = Debts.new(current_user, group) %>

    <% debts.owed_by.each do |debt| %>
      <p>You owe <%= debt.owee.email %> $<%= debt.amount %></p>
    <% end %>

    <% debts.owed_to.each do |debt| %>
      <p><%= debt.ower.email %> owes you $<%= debt.amount %></p>
    <% end %>
  </div>

  <div class="actions">
    <%= link_to "New expense", new_expense_path(:group_id => group.id) %> | 
    <%= link_to "New payment", new_payment_path(:group_id => group.id) %> | 
    <%= link_to "Join link", new_membership_url(:token => group.join_token) %> | 
    <%= link_to "Leave group", "#" %>
  </div>
</div>
