<%= form_tag profile_path do %>
  <label for="email">Email</label>
  <%= text_field_tag :email %>
  <label for="password">Password</label>
  <%= password_field_tag :password %>
  <label for="confirm">Confirmation</label>
  <%= password_field_tag :confirm %>
  <%= submit_tag "Sign up" %>
<% end %>
