<section>
  <% if !!@current_user %>
    <%= link_to "Your profile", profile_path %>
    <%= link_to "Your groups", groups_path %>
  <% else %>
    <%= link_to "Sign In", login_path  %>
    <%= link_to "Sign Up", signup_path %>
  <% end %>
</section>

<footer>
  <%= link_to "About", about_path %>
</footer>
