<% if !!current_user %>

  <section id="group-actions" class="row">
    <hr>
    <%= link_to "Start a new group", new_group_path %> | 
    <%= link_to "Join an existing group", new_membership_path %>
  </section>

  <section id="groups" class="row">
    <hr>
    <h3>Your groups</h3>

    <% if @groups.any? %>
      <% @groups.each do |group| %>
        <%= render 'group', :group => group %>
      <% end %>
    <% end %>

  </section>

  <section id="account-actions" class="row">
    <hr>
    <%= link_to "Sign out", session_path, :method => :delete %>
  </section>

<% else %>

  <section id="account-actions" class="row">
    <hr>
    <%= link_to "Sign in", new_session_path %> | 
    <%= link_to "Sign up", new_profile_path %>
  </section>

<% end %>
